@{
    ViewBag.Title = "dreamy │ About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PageId1"] = "AboutUs";
}

<head>

    <style>
        @@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

        body {
            font-family: 'Oswald', sans-serif !important;
            background-color: #635ef7;
            color:white;
            margin-bottom:0px;
        }

        /*carousel css code start*/

        /*carousel css code end*/
     

        .btn-primary {
            color: white;
            background: transparent;
            transition: all 0.3s ease 0s;
            background: #635EF7;
        }

            .btn-primary:hover {
                color: black;
                background: white;
                border: 2px solid #635EF7;
            }

        .mt-50 {
            margin-top: 50px;
        }

        .mb-50 {
            margin-bottom: 50px;
        }


        .bg-teal-400 {
            background-color: #26a69a;
        }

        a {
            text-decoration: none !important;
        }


        .fa {
            color: red;
        }

        .card {
            border-radius: 30px;
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
            padding: 40px;
        }


    </style>

</head>
<body>


    <div style="margin-top:14%">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 style="font-size:70px">nice to meet you</h1>
                    <h5>We are the founders of dreamy.</h5>
                </div>
                <div class="col-md-6 d-none d-lg-block"><img src="~/images/illus.webp" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5" style="padding-top:8%">
                <div class="col-md-6 order-2 order-lg-1">
                    <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                    <h1 style="font-size:50px">Who Are We?</h1>
                    <br />
                    <h5>Starting in 2014 out of our family workshop in Mumbai, India; we have teamed up with 4 fellow Indian artists or craftsmen, all very eager to showcase their artisanal heritage and quintessential designs. </h5>
                </div>
                <div class="col-md-5 px-5 mx-auto order-1 order-lg-2"><img src="~/images/img-2.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            <div class="row align-items-center" style="padding-top:8%">
                <div class="col-md-5 px-5 mx-auto"><img src="~/images/img-3.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-md-6">
                    <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                    <h1 style="font-size:50px">How We Work?</h1>
                    <br />
                    <h5>We source the highest quality materials, crafted in ethical factories, for a timeless piece that you will have for years to come. We opted for a direct-to-artisan distribution model focused on made-to-order and custom services to ensure that we produce as much as possible what is needed exactly as needed by the final customer, with less compromises and wasteful use of resources.  </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5" >
        <div class="container py-5" >
            <div class="row mb-4" style="text-align:center">
                <div class="col-md-12">
                    <h2 class="display-1"> <b> Our Team </b></h2>
                </div>
            </div>
            <br /> <br />

            <div class="row text-center">
               
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white py-5 px-4" style="border-radius:20px; box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);">
                        <img src="~/images/man3.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h4 class="mb-0" style="color:black">Nikhil Sharma</h4><span class="medium text-uppercase text-muted">CEO - Founder</span>
                        
                        <div class="quote-icon" style="font-size: 50px; color: grey; padding-top: 5%;">
                            <i class="fas fa-quote-right "></i>
                        </div>

                        <p style="color:black; padding-top:5%; text-align: justify; font-size:medium">"At dreamy, we believe that every piece of furniture is a step towards building a home filled with warmth and inspiration. Remember, the spaces we create today shape the dreams we achieve tomorrow."</p>
                    </div>
                </div>
                

                <div class="col-md-3 col-sm-6 mb-5">
                    <div class="bg-white py-5 px-4" style="border-radius:20px; box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);">
                        <img src="~/images/man4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h4 class="mb-0" style="color:black">Ashutosh Kumar</h4><span class="medium text-uppercase text-muted">Co - Founder</span>


                        <div class="quote-icon" style="font-size: 50px; color: grey; padding-top: 5%;">
                            <i class="fas fa-quote-right "></i>
                        </div>

                        <p style="color:black; padding-top:5%; text-align: justify; font-size:medium">"Inspiration is the fuel for innovation. Let your passion be the driving force that turns those dreams into reality. We believe that everything starts with a dream. Together, we can create spaces that inspire and uplift every day."</p>

                    </div>
                </div>
                

                <div class="col-md-3 col-sm-6 mb-5">
                    <div class="bg-white py-5 px-4" style="border-radius:20px; box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);">
                        <img src="~/images/woman2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h4 class="mb-0" style="color:black">Neha Bansal</h4><span class="medium text-uppercase text-muted">UI/UX Designer</span>

                        <div class="quote-icon" style="font-size: 50px; color: grey; padding-top: 5%;">
                            <i class="fas fa-quote-right "></i>
                        </div>

                        <p style="color:black; padding-top:5%; text-align: justify; font-size:medium">"Every pixel and interaction matters in crafting an intuitive user experience. We leverage cutting-edge design principles and user-centered methodologies to build interfaces that are both functional and aesthetically pleasing."</p>

                    </div>
                </div>
                

                <div class="col-md-3 col-sm-6 mb-5">
                    <div class="bg-white py-5 px-4" style="border-radius:20px; box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);">
                        <img src="~/images/man5.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h4 class="mb-0" style="color:black">Ritesh Verma</h4><span class="medium text-uppercase text-muted">Full Stack Web Developer</span>

                        <div class="quote-icon" style="font-size: 50px; color: grey; padding-top: 5%;">
                            <i class="fas fa-quote-right "></i>
                        </div>

                        <p style="color:black; padding-top:5%; text-align: justify; font-size:medium">
                            "Building great applications requires mastering both front-end finesse and back-end robustness. We harness the power of modern frameworks and scalable architectures to deliver seamless, high-performance solutions."
                        </p>

                    
                    </div>
                </div>
                

            </div>
        </div>
    </div>

</body>
</html>


