@{
    ViewBag.Title = "dreamy │ All Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PageId2"] = "AllProducts";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationn.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">



    <style>
        @@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

        body {
            font-family: 'Oswald', sans-serif !important;
            background-color: #635ef7;
            margin-bottom:0px !important;
        }

        /*carousel css code start*/

        /*carousel css code end*/


        .btn-primary {
            color: white;
            background: transparent;
            transition: all 0.3s ease 0s;
            background: #635EF7;
        }

            .btn-primary:hover {
                color: black;
                background: white;
                border: 2px solid #635EF7;
            }

        .mt-50 {
            margin-top: 50px;
        }

        .mb-50 {
            margin-bottom: 50px;
        }


        .bg-teal-400 {
            background-color: #26a69a;
        }

        a {
            text-decoration: none !important;
        }


        .fa {
            color: red;
        }

        .card {
            border-radius: 30px;
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
            padding: 40px;
        }
    </style>

</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


<!--FURNITURE-->
    <h1 style="text-align:center; color:white;" id="furniture">FURNITURE</h1>

    <!--FIRST ROW-->
    <div class="container d-flex justify-content-center mt-50 mb-50">

        <div class="row" style="justify-content:center;">

            <!--PRODUCT 1-->
            <div class="col-md-3">

                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/minimalrosearmchair"> <img src="~/images/MINIMALROSEARMCHAIR.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/minimalrosearmchair" data-abc="true">MINIMAL ROSE ARMCHAIR</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> Soft but distinct lines creates an elegant profile. The armchairs nicely curved back gives your lumbar region good support. And covers in ROSE colours provide natural warmth and beauty to the room.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 2999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1985 reviews</div>

                            <a href="/home/minimalrosearmchair" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>

            </div>

            <!--PRODUCT 2-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/bedframe"> <img src="~/images/BEDFRAME.png" style="border-radius:20px" width="250" height="150" alt=""> </a>
                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/bedframe" data-abc="true">BED FRAME WITH STORAGE</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> A clean design with solid wood veneer. Place the bed freestanding or with the headboard against a wall. You also get spacious storage boxes that roll out smoothly on castors. The storage boxes are easy to roll out. </p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 9999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                               

                            </div>

                            <div class="text-muted">2115 reviews</div>

                            <a href="/home/bedframe" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 3-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/modernsofa"> <img src="~/images/modernsofa.png" style="border-radius:20px" width="250" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/modernsofa" data-abc="true"> MODERN 2-SEAT SOFA </a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> Have a seat and enjoy the comfy cushion support, the soft and durable upholstery – and just relax. Lovely, right? The ORMARYD series has an equally comfy 2-seat sofa and matching armchairs and footstools.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 8999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">2550 reviews</div>

                            <a href="/home/modernsofa" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 4-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/vintagecabinet"> <img src="~/images/cabinet.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/vintagecabinet" data-abc="true">VINTAGE DISPLAY CABINET</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> A solid display cabinet with clean shapes and glass doors that keep your favourite items free from dust. The adjustable glass shelves allow you to customise the storage to your needs. It’s the choice that never goes out of style.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 7599</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1535 reviews</div>

                            <a href="/home/vintagecabinet" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br />

    <!--SECOND ROW-->

    <div class="container d-flex justify-content-center mt-50 mb-50">

        <div class="row" style="justify-content:center;">

            <!--PRODUCT 1-->
            <div class="col-md-3">

                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/armchair"> <img src="~/images/armchairhundersted.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/armchair" data-abc="true">ARMCHAIR HUNDERSTED</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> With its durable upholstery, softly sloping armrests and cone-shaped wooden legs, this spacious armchair suits any room in the home. Made for comfortable relaxing after a long day at work.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 2999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                

                            </div>

                            <div class="text-muted">1250 reviews</div>

                            <a href="/home/armchair" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>

            </div>

            <!--PRODUCT 2-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/diningtable"> <img src="~/images/diningtable.png" style="border-radius:20px" width="200" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/diningtable" data-abc="true">DINING TABLE WOODEN</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> Every table is unique, with varying grain pattern and natural color shifts that are part of the charm of wood. This table is full of character and it’s round, you can always find space.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 9999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">2560 reviews</div>

                            <a href="/home/diningtable" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 3-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/dropleaftable"> <img src="~/images/dropleaftable.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/dropleaftable" data-abc="true">DROP-LEAF TABLE</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> A flexible table you can place against the wall or have freestanding as a desk, dressing table or dining table. The leaf folds out easily when you need more space for your laptop, or friends.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 4599</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1120 reviews</div>

                            <a href="/home/dropleaftable" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 4-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/shoecabinet"> <img src="~/images/shoecabinet.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/shoecabinet" data-abc="true">SHOE CABINET</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;">
                                The cabinet only has legs at the front so it can stand close up to the wall above the baseboard. Helps you organize your shoes and saves floor space at the same time. It can stand close to the wall.
                            </p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 4499</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1550 reviews</div>

                            <a href="/home/shoecabinet" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br />
    <br />
    <br />

    <hr style="border: dashed 4px white; color:white; background-color: white; border-radius:10px" />
    <br />
<!--ACCESSORIES-->
    <h1 style="text-align:center; color:white;" id="accessories">ACCESSORIES</h1>

    <!--FIRST ROW-->
    <div class="container d-flex justify-content-center mt-50 mb-50">

        <div class="row" style="justify-content:center;">

            <!--PRODUCT 1-->
            <div class="col-md-3">

                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/storagebox"> <img src="~/images/storagebox.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/storagebox" data-abc="true">STORAGE BOX WITH LID</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> A durable, sturdy and slightly smaller box with lid that you can have in all kinds of spaces and for many different things. Use one or several to organise and gather small items that take up little room.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 199</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">2995 reviews</div>

                            <a href="/home/storagebox" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>

            </div>

            <!--PRODUCT 2-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/storagecase"> <img src="~/images/storagecase.png" style="border-radius:20px" width="200" height="150" alt=""> </a>
                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/storagecase" data-abc="true">STORAGE CASE</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> This storage case keeps clothes, seasonal items or extra duvets and pillows in safe storage until you need them again, free from dust and dirt. Easy to pull out as the storage case has handles. Easy to fold up and put away. </p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 699</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1255 reviews</div>

                            <a href="/home/storagecase" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 3-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/largestorage"> <img src="~/images/largestorage.png" style="border-radius:20px" width="200" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/largestorage" data-abc="true"> LARGE STORAGE </a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> Need more shelves for your folded clothes? Simply hang this storage inside your wardrobe or on a freestanding rack. Use with other SKUBB products for complete control of your wardrobe. This product is made of polyester.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">2450 reviews</div>

                            <a href="/home/largestorage" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 4-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/sidetable"> <img src="~/images/sidetable.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/sidetable" data-abc="true">SIDE TABLE</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> It´s always there for you. Lovely throughout the home and easy to lift so you can rearrange your living space whenever you feel like it. Enjoy every moment with all your favourite things close at hand. The side table is light and small.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 1999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1339 reviews</div>

                            <a href="/home/sidetable" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br />
    <br />
    <br />

    <hr style="border: dashed 4px white; color:white; background-color: white; border-radius:10px" />
    <br />
    <!--LIGHTINGS-->
    <h1 style="text-align:center; color:white;" id="lightings">LIGHTINGS</h1>

    <!--FIRST ROW-->
    <div class="container d-flex justify-content-center mt-50 mb-50">

        <div class="row" style="justify-content:center;">

            <!--PRODUCT 1-->
            <div class="col-md-3">

                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/tablelamp"> <img src="~/images/tablelamp.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/tablelamp" data-abc="true">TABLE LAMP</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> A lamp reminiscent of kerosene lamps of the past. It is dimmable and very flexible – it can be used indoors and outdoors, and with cord or rechargeable batteries. Perfect for your balcony or patio.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 3599</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1770 reviews</div>

                            <a href="/home/tablelamp" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>

            </div>

            <!--PRODUCT 2-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/ledtablelamp"> <img src="~/images/ledtablelamp.png" style="border-radius:20px" width="200" height="150" alt=""> </a>
                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/ledtablelamp" data-abc="true">LED TABLE LAMP</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> A decorative modern-styled LED table lamp with an unusual shape that helps you create a cosy vibe for the outdoor dinner. Combine with other matching lamps and lighting chains in the series.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                       

                            </div>

                            <div class="text-muted">1115 reviews</div>

                            <a href="/home/ledtablelamp" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 3-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/ledspotlight"> <img src="~/images/spotlight.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/ledspotlight" data-abc="true"> LED SPOTLIGHT </a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> Use this spotlight both indoors and outdoors to enjoy a good light when working, barbequing or doing arts and crafts. Simple to attach by using its clamp or magnet and easy to direct exactly as you like.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 1499</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">2009 reviews</div>

                            <a href="/home/ledspotlight" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 4-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/ledsolarlamp"> <img src="~/images/lamp.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/ledsolarlamp" data-abc="true">LED SOLAR LAMP</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> Use these pendant lamps to fill your outdoor space with light and cosiness in a flash. Mix colours, patterns and sizes – they all have solar-powered LED bulbs and shades made of recycled PET.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 799</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                               

                            </div>

                            <div class="text-muted">1055 reviews</div>

                            <a href="/home/ledsolarlamp" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br />

    <!--SECOND ROW-->

    <div class="container d-flex justify-content-center mt-50 mb-50">

        <div class="row" style="justify-content:center;">

            <!--PRODUCT 1-->
            <div class="col-md-3">

                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/ledlightingchain"> <img src="~/images/lightchain.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/ledlightingchain" data-abc="true">LED LIGHTING CHAIN</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> Light chains are perfect when you want to create a nice atmosphere. Easy to match with other lamps in the series in order to spread cosiness and light on the balcony, terrace or in the garden.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 1999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                               

                            </div>

                            <div class="text-muted">1250 reviews</div>

                            <a href="/home/ledlightingchain" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>

            </div>

            <!--PRODUCT 2-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/ledsolartablelamp"> <img src="~/images/ledsolarlamp.png" style="border-radius:20px" width="200" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/ledsolartablelamp" data-abc="true">LED SOLAR TABLE LAMP</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> This series has decorative table lamps in various colours, models and sizes. They charge by sunlight during the day and automatically turn on at night – spreading a cosy light indoors or outdoors.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 1099</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                            <div class="text-muted">1590 reviews</div>

                            <a href="/home/ledsolartablelamp" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 3-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/worklamp"> <img src="~/images/worklamp.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/worklamp" data-abc="true">WORK LAMP</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;"> This work lamp in recycled plastics has received the international design award Red Dot Award. It provides a directed light and is easy to match with the interior and move around in the home.</p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 599</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                            <div class="text-muted">2110 reviews</div>

                            <a href="/home/worklamp" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--PRODUCT 4-->
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0">

                            <a href="/home/tablelampbulb"> <img src="~/images/tablelampbulb.png" style="border-radius:20px" width="150" height="150" alt=""> </a>

                        </div>

                        <div class="media-body">
                            <h5 class="media-title font-weight-semibold">
                                <a href="/home/tablelampbulb" data-abc="true">TABLE LAMP WITH BULB</a>
                            </h5>
                            <br />



                            <p class="mb-3" style="text-align: justify;">
                                This decorative table lamp has a base in black marble and an ellipse-shaped, LED bulb that looks like a soap bubble when the spiral-shaped filaments glow through the double glass.
                            </p>


                        </div>

                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">₹ 2999</h3>

                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                               

                            </div>

                            <div class="text-muted">1550 reviews</div>

                            <a href="/home/tablelampbulb" class="btn btn-warning btn-lg mt-4 text-black">View Product<span>  <svg style="width:15px;height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" /></svg> </span> </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br />
    <br />
    <hr style="border: dashed 4px white; color:white; background-color: white; border-radius:10px" />
    <br />
    <br />

</body>
</html>


