@{
    ViewBag.Title = "dreamy │ Our Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PageId3"] = "Clients";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationn.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">



    <style>
        @@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

        body {
            font-family: 'Oswald', sans-serif !important;
            background-color: #635ef7;
            color: white;
            margin-bottom:0px;
        }

        /*carousel css code start*/

        /*carousel css code end*/


        .btn-primary {
            color: white;
            background: black;
            transition: all 0.3s ease 0s;
            background: #635EF7;
            border: 2px solid white;
        }

            .btn-primary:hover {
                color: black;
                background: white;
                border: 2px solid #635EF7;
            }

        .mt-50 {
            margin-top: 50px;
        }

        .mb-50 {
            margin-bottom: 50px;
        }


        .bg-teal-400 {
            background-color: #26a69a;
        }

        a {
            text-decoration: none !important;
        }


        .fa {
            color: red;
        }

        .card {
            border-radius: 30px;
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
            padding: 40px;
        }
    </style>

</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2 class="display-3 fw-bold lh-1" style="text-align:center">OUR TOP CLIENTS</h2>
    <br /><br />
    <!-- UBER -->
    <section class="py-3 py-md-5">
        <div class="container mb-4 mb-md-5">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-xxl-8">
                    <img id="uber" style="border-radius:20px; box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);" class="img-fluid" src="~/images/uber.jpg" alt="uber">
                </div>
            </div>
        </div>

        <div class="container overflow-hidden" >
            <div class="row gy-2 gy-md-0 justify-content-xxl-center" >
                <div class="col-12 order-md-1 col-md-8 col-xxl-6" >
                    <div class="text-center text-md-start" >
                        <h2 class="display-3 fw-bold lh-1">UBER</h2>
                        <p class="fs-4 mb-2">American Transport Company</p>
                        <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
                        <p>Uber teams up with top-tier furniture firm dreamy to equip its new global headquarters and regional offices. dreamy will supply bespoke, ergonomic furniture solutions, encompassing workstations, meeting spaces, and executive suites. </p>
                        <p>This collaboration aims to elevate workplace aesthetics and functionality, reflecting Uber's innovative ethos and dreamy's renowned craftsmanship in crafting sophisticated, practical office environments.</p>
                    </div>
                </div>
                <div class="col-12 order-md-0 col-md-4 col-xxl-4">
                    <div class="text-center text-md-start me-md-3 me-xl-5">
                        <p class="mb-4">
                            <span class="d-block" style="font-size:70px">8+</span>
                            <span class="fs-4">years of trust and confidence.</span>
                        </p>
                        <div class="d-grid">
                            <a href="https://www.uber.com/in/en/"> <button class="btn btn-primary btn-lg" type="button">Visit Website</button> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- AIR INDIA -->
    <section class="py-3 py-md-5">
        <div class="container mb-4 mb-md-5">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-xxl-8">
                    <img id="airindia" style="border-radius:20px; box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);" class="img-fluid" src="~/images/airindialounge.png" alt="airindia">
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row gy-2 gy-md-0 justify-content-xxl-center">
                <div class="col-12 order-md-1 col-md-8 col-xxl-6">
                    <div class="text-center text-md-start">
                        <h2 class="display-3 fw-bold lh-1">AIR INDIA</h2>
                        <p class="fs-4 mb-2">Flag-carrier Airline of India</p>
                        <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
                        <p>Air India collaborates with premier furniture company dreamy to outfit its new corporate offices and airport lounges. </p>
                        <p>dreamy will supply custom, ergonomic furniture solutions, including executive desks, seating, and lounge areas. This partnership aims to elevate comfort and style, aligning with Air India's premium service and dreamy's renowned craftsmanship in creating sophisticated and functional environments.</p>
                    </div>
                </div>
                <div class="col-12 order-md-0 col-md-4 col-xxl-4">
                    <div class="text-center text-md-start me-md-3 me-xl-5">
                        <p class="mb-4">
                            <span class="d-block" style="font-size:70px">12+</span>
                            <span class="fs-4">years of trust and confidence.</span>
                        </p>
                        <div class="d-grid">
                            <a href="https://www.airindia.com/"> <button class="btn btn-primary btn-lg" type="button">Visit Website</button> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  

    <!-- PAYTM -->
    <section class="py-3 py-md-5">
        <div class="container mb-4 mb-md-5">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-xxl-8">
                    <img id="paytm" style="border-radius:20px; box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);" class="img-fluid" src="~/images/paytmoffice.png" alt="paytm">
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row gy-2 gy-md-0 justify-content-xxl-center">
                <div class="col-12 order-md-1 col-md-8 col-xxl-6">
                    <div class="text-center text-md-start">
                        <h2 class="display-3 fw-bold lh-1">PAYTM</h2>
                        <p class="fs-4 mb-2">Indian Payment Company</p>
                        <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
                        <p>
                            Paytm is an Indian multinational financial technology company, that specializes in digital payments and financial services, based in Noida, India.
                            Paytm, a leading digital payment company, has partnered with dreamy to furnish its new headquarters and regional offices. 
                        </p>
                        <p>dreamy provides bespoke, ergonomic furniture solutions, including workstations and collaborative spaces, tailored to enhance Paytm's dynamic culture and productivity. This collaboration underscores dreamy's reputation for high-quality, innovative designs that create inspiring and functional work environments.</p>
                    </div>
                </div>
                <div class="col-12 order-md-0 col-md-4 col-xxl-4">
                    <div class="text-center text-md-start me-md-3 me-xl-5">
                        <p class="mb-4">
                            <span class="d-block" style="font-size:70px">4+</span>
                            <span class="fs-4">years of trust and confidence.</span>
                        </p>
                        <div class="d-grid">
                            <a href="https://paytm.com/"> <button class="btn btn-primary btn-lg" type="button">Visit Website</button> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br /><br /><br /><br />
</body>
</html>





